@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode="@true"/>
<MudSnackbarProvider/>
<MudDialogProvider CloseButton="true"
                   DisableBackdropClick="true"
                   NoHeader="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true" />

<div class="page">
    <MudLayout>
        <MudMainContent>
            @Body
        </MudMainContent>
    </MudLayout>
</div>