@page "/"

    <div class="container">
        <div class="item">
            <image src="img/heart.svg"></image>
            @* <MudIconButton Size="Size.Large" Icon="@Icons.Custom.Uncategorized.Baguette" Color="Color.Tertiary"></MudIconButton> *@
        </div>
        <div class="item">
            <image src="img/equal-sign-icon.svg"></image>
        </div>
        <div class="item">
            <image src="img/heart.svg"></image>
        </div>
    </div>

@code
{
    
}