@page "/"

<div class="main-container">
    <div class="container">
        <div class="item">
            <image src="img/token.svg"></image>
        </div>
        <div class="item-question-sign">
            <image src="img/question.svg"></image>
        </div>
        <div class="item">
            <image src="img/token.svg"></image>
        </div>
    </div>
    <div class="action-menu">
        <div>Save?</div>
    </div>
</div>

@code
{
    
}